* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    display: block;
    margin: 0;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

a {
    color: black;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/*misssion*/
.backimg1 {
    background-image: url(../../resources/pictures/backimg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 300px;
    padding-top: 35px;
}

.backimg1 .content {
    margin: auto;
    background-color: white;
    width: 100%;
}

h4 {
    display: block;
}

/*portfolio*/
#portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
}

.company span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

/*team*/
.team {
    background-image: url(../../resources/pictures/backimg2.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teammate {
    padding: 10px;
    color: white;
    flex-basis: 280px;
}

.teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

h3 {
    display: block;
}